@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow&display=swap&subset=latin-ext');

/* Colors */
$color-paragraph: #a6a6a6;
$color-brand-main: #F58220;
$color-light-blue: #80bfca;
$color-links: #6d92ac;
$color-positive: #96CC98;
$color-positive-hover: #74B67A;
$color-negative: #EC7171;
$color-negative-hover: #DE5252;
$color-dark: #333333;
$color-dark-sidebar: #191919;
$color-light-gray: #bababa;
$color-disable: #E3E3E3;
$color-light: #F5F5F2;
$color-light-hover: #e6e6e6;
$color-background: #f1f2f6;
$color-border-light: #dcdde1;
$color-red: #FF0000;
$color-main-hover: #FFA200;
$color-active-green: #04AE00;
$color-dark-gray: #34495e;

/* Size */
$paragraph-font-size: 16px;
$sidebar-width: 250px;


/* Fonts */
$brand-font: 'Roboto';
$paragraph-font: "Open Sans", Helvetica, Arial;
$main-font: "Dancing Script", cursive;
$font-page-header: 'Pragati Narrow', sans-serif;

$radius: 3px;
$border-light: 1px solid #bababa;
