.sidebar {
  background-color: $color-dark-sidebar;
  padding-left: 7px;
  z-index: 9;
}


.sidebar .show {
  display: block;
}

@media(max-width: 767px) {
  .navlinks {
    margin-top: 110px;
  }
  .navlinks, .avatar-wrapper{
      display: none;
  }

}

@media(min-width: 768px) {
  .sidebar {
    background-color: $color-dark-sidebar;
    height: 100vh;
    position: fixed;
  }
}
