.row {
  flex-direction: row;
}

.flex-wrapper  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  > * {
    margin-bottom: 5px;
    &:last-child {
     margin-bottom: 0;
    }
  }
}

h1 {
  font-size: 35px;
}

h1, h2, h3 {
  font-family: $brand-font;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-wrapper {
  min-height: 1400px;
  margin-left: 210px;
}

.align-center {
  text-align: center;
}

.sidebar, .top-side, .main-content-wrapper {
  heigth: 100%;
  width: 100%;
}

.flex-item {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-main {
  border-bottom: 1px solid #dcdde1;
}

.border-top {
  border-top: 1px solid #dcdde1;
}

.padding-22 {
  padding: 22px;
}

.margin-y-20 {
    margin: 20px 0;
}

.margin-y-30 {
  margin: 30px 0;
}

.margin-auto {
  margin: 0 auto;
}

.space-between {
    justify-content: space-between;
}

.flex-between  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.width-100vw {
  max-width: 100vw;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 75px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1px;
  margin-left: -1px;
}

[class^="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

@media(max-width: 767px) {
  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .column-wrapper {
    margin: 0 auto;
  }
}

@media(min-width: 992px) {

}

@media(min-width: 1200px) {
  .list-item {
    width: 400px;
  }
}


@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
