.row {
  flex-direction: row;
}

.flex-wrapper  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  > * {
    margin-bottom: 5px;
    &:last-child {
     margin-bottom: 0;
    }
  }
}

h1, h2, h3 {
  font-family: $brand-font;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-wrapper {
  min-height: 1400px;
  max-width: 100vw!important;
}

section {
    max-width: calc(100vw - 203px);
    margin-right: -10px;
}

.align-center {
  text-align: center;
}

.sidebar, .top-side, .main-content-wrapper {
  heigth: 100%;
  width: 100%;
}

.flex-item {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-main {
  border-bottom: 1px solid #dcdde1;
}

.border-top {
  border-top: 1px solid #dcdde1;
}

.padding-22 {
  padding: 22px;
}

.margin-y-20 {
    margin: 20px 0;
}

.margin-y-30 {
  margin: 30px 0;
}

.margin-auto {
  margin: 0 auto;
}

.space-between {
    justify-content: space-between;
}

.flex-between  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}

.width-100vw {
  max-width: 100vw;
}

.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 75px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1px;
  margin-left: -1px;
}

[class^="col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

@media(max-width: 767px) {
  .main-content {
    margin: 5px;
    width: 100%;
  }

  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 15px;
  }

  .table .links-table {
    padding: 30px 10px 70px 10px;
  }

  .table img {
    max-width: 95%;
    padding-top: 30px;
  }
  .list-item {
    min-width: 300px;
  }

  .title-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }

  .btn-chart {
    margin: 5px;
  }

  .calendar {
    padding: 20px;
    .input2 {
      padding-left: 10px;
    }
  }
  .input-calendar {
    height: 100px;
  }
}

@media(min-width: 768px) {
  .calendar {
    padding: 20px;
    .input2 {
      padding-left: 10px;
    }
  }
  .title-wrapper  {
    i {
      padding-left: 15px;
    }
    h1 {
      font-size: 30px;
    }
  }
}


@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
