* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3 {
  font-family: $brand-font;
}

h1 {
  font-size: 30px;
  font-family: $main-font;
  color: $color-light;
  padding: 0 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  color: $color-paragraph;
}

p {
  color: $color-paragraph;
  font-family: $paragraph-font;
}

a {
  text-decoration: none;
  color: $color-links;
  font-size: 17px;
}

.sidebar, .top-side, .main-content-wrapper {
  heigth: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
 width: 100vw;
  min-height: 100vh;
 > * {
   margin-bottom: 5px;
   &:last-child {
     margin-bottom: 0;
   }
 }
}


.sidebar {
  flex: 0 1 15%;
  padding: 5px;
}

.column-wrapper {
  flex: 0 0 85%;
  padding: 5px;
}


.main-content-wrapper {
  height: 90%;
  display: block;
  border: 1px solid red;
}
