@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
/* Colors */
$color-paragraph: #a6a6a6;
$color-brand-main: #F58220;
$color-light-blue: #80bfca;
$color-links: #6d92ac;
$color-positive: #96CC98;
$color-positive-hover: #74B67A;
$color-negative: #EC7171;
$color-negative-hover: #DE5252;
$color-dark: #333333;
$color-gray: #bababa;
$color-disable: #E3E3E3;
$color-light: #F5F5F2;
$color-red: #FF0000;
$color-main-hover: #FFA200;
$color-avtive-green: #04AE00;

/* Size */
$paragraph-font-size: 16px;
$sidebar-width: 250px;
$sidebar-tablet-width: $sidebar-width * 0.66;
$topbar-height: 60px;

/* Fonts */
$brand-font: 'Roboto';
$paragraph-font: "Open Sans", Helvetica, Arial;
$main-font: "Dancing Script", cursive;
