@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

@import "components/avatar";
@import "components/buttons";
@import "components/calendar";
@import "components/form";
@import "components/icons";
@import "components/input-calendar";
@import "components/links";
@import "components/navlink";
@import "components/page-title";
@import "components/table-links";
@import "components/title";
@import "components/topbar";


@import "sections/sidebar";
@import "sections/modal";

@import "pages/mainpage";
@import "pages/general";



// /* Components */
// import "components/form_field";
//
// /* Sections */
// import "section/registration_form";
//
// /* Pages / Views */
// import "pages/registration";
