.main-content-wrapper {
  min-height: 2500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #f5f6fa;
  background-color: #f1f2f6;
}

.main-content {
 flex: 0 0 50%;
 display: inline-block;
 margin: 30px;
  width: 97%;
  border: 1px solid #f5f6fa;
  background-color: #fff;
  box-shadow: 2px 2px 10px #a6a6a6;
}

.earning-chart  {
  h2 {
    // color: $color-paragraph;
    color: #a6a6a6;;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  border-bottom: 1px solid #bababa;
  margin-right: 65px;
  height: 55px;

  .line-header {
    margin: 15px 0 5px;
  }

  p {
    margin: 15px 0 5px;
    color: #333333;
  }
}

.table {
  margin: 40px auto;
  text-align: center;
}
