
.main-content {
  box-sizing: border-box;
  display: block;
  max-width: 100vw;
  margin: 30px;
  margin-top: 110px;
  border: 1px solid #f5f6fa;
  background-color: #fff;
  box-shadow: 2px 2px 10px #a6a6a6;
}

.earning-chart  {
  h2 {
    // color: $color-paragraph;
    color: #a6a6a6;;
  }
}

.list-item {
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 1px solid #bababa;
  margin-right: 40px;
  height: 55px;
  width: 100%;
  min-width: 300px;
  .line-header {
    margin: 15px 0 5px;
  }

  p {
    margin: 15px 0 5px;
    color: #333333;
  }
}

.table {
  margin: 0 auto;
  text-align: center;
  img {
    object-fit: cover;
    width: 85%;
    padding: 0 30px 40px 30px;
  }
}


@media(max-width: 767px) {

    .main-content {
      margin: 15px 5px;
    }

    .table img {
      width: 100%;
      padding-top: 30px;
    }

    .list-item {
      padding-right: 10px;
    }

    .link {
      .container {
      margin-top: -40px;
      }

    }

}
