.btn {
  padding: 10px;
  border-radius: $radius;
  color: $color-light;
  background-color: $color-brand-main;
  display: inline-block;
  font-size: 18px;
  box-shadow: none;
  border: none;
  min-width: 100px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: $color-main-hover;
  }

}

.btn-refresh {
  width: 60px;
  height: 60px;
  margin-left: 15px;
  padding: 10px;
  border-radius: $radius;
  color: $color-light;
  background-color: $color-brand-main;
  display: inline-block;
  font-size: 18px;
  box-shadow: none;
  border: none;

  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: $color-main-hover;
  }
  svg {
    fill: #fff;
  }

}

.btn-main {
  padding-left: 10px;
  padding-right: 10px;
}

.btn:active,
 .btn:focus {

 }

 .btn-chart {
   background-color: $color-light;
   color: $color-paragraph;
   padding: 15px 30px;
   margin: 18px;
   font-size: 20px;
   .fas {
     margin-right: 5px;
   }
   &:hover {
     background-color: $color-light-gray;
     color: $color-light;
   }
 }

.btn-add {
  padding: 14px 25px;
  margin: 28px;
  font-size: 20px;
}

.btn-blue {
    color: $color-light-blue;
}

.btn-orange {
   color: $color-brand-main;
}

.btn-green {
   color: $color-active-green;
}

.btn-close {
  font-size: 25px;
  color: $color-dark-gray;
  cursor: pointer;
  padding: 20px;
}

.btn-modal {
  padding: 3px;
  background-color: $color-brand-main;
  color: $color-light;

}

@media(max-width: 767px) {
  .btn-chart {
    margin: 5px;
  }

  .btn-refresh {
    max-width: 50px;
    height: 50px;
  }

}
