.calendar {
  padding: 50px;
  input {
    border: none;
    padding: 0;
  }

  .input1 {
    border-right: 1px solid #bababa;
  }

  .input2 {
    padding-left: 17px;
  }
}

.input-calendar  {
  border: 1px solid #bababa;
  max-width: 450px;
  padding: 0 19px;
  height: 60px;
  border-radius: 4px;
  input {
    max-width: 180px;
  }
}

@media(max-width: 767px) {
  .calendar {
    padding: 25px;
    width: 250px;
    border: none;
    .input1, .input2 {
      padding: 0;
      border: none;
    }

    .input2 {
        padding-left: 14px;
    }
  }

  .input-calendar {
    height: 140px;

    .icon-input {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content:space-around;

    }
  }
}
