.page-title {
    h2 {
    text-transform: uppercase;
    color: $color-paragraph;
    font-size: 31px;
    font-family: $font-page-header;
    font-weight: 500;
    font-stretch:extra-condensed;
  }
}
