.payout {
  td, th {
    text-align: left;
    color: $color-dark;
  }
  .table {
    .links-table {
        width: 80px;

    }
    p {
      padding: 10px 10px 10px 0;

    }
    thead .links-table:hover {
      background-color: inherit;
    }
    th:hover p {
      background-color: $color-light-hover;
      border-radius: $radius;
      color: $color-dark;
    }
  }

}
