* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f2f6;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
  color: $color-paragraph;
}

p {
  color: $color-paragraph;
  font-family: $paragraph-font;
}

li {
    list-style: none;
}
