.btn {
  padding: 10px;
  border-radius: $radius;
  color: $color-light;
  background-color: $color-brand-main;
  display: inline-block;
  font-size: 18px;
  box-shadow: none;
  border: none;
  min-width: 100px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: $color-main-hover;
  }

}

.btn-main {
  padding-left: 10px;
  padding-right: 10px;
}

.btn:active,
 .btn:focus {

 }

 .btn-refresh {
   padding: 7px;
   min-width: 60px;
   height: 60px;
   margin-left: 15px;
   svg {
     fill: #fff;
   }
 }

 .btn-chart {
   background-color: $color-light;
   color: $color-paragraph;
   padding: 15px 30px;
   margin: 18px;
   font-size: 20px;
   .fas {
     margin-right: 5px;
   }
 }

.btn-blue {
    color: $color-light-blue;
}

.btn-orange {
   color: $color-brand-main;
}

.btn-green {
   color: $color-active-green;
}
