.table {
  margin: 80px;
  .icon-basic {
    display: none;
  }

  .links-table {
    font-size: 25px;
    color: $color-paragraph;
    border-top: 1px solid #dcdde1;
    padding: 30px;
    padding-bottom: 50px;
    justify-content:space-between;
    height: 60px;
    width: 100%;
    max-width: calc(100vw - 25px);
    transition: 0.2s;

    &:hover {
      background-color: $color-light-hover;

    & .icon-basic {
        display: inline-block;
        svg:last-child {
          fill: #fff;
        }
      }
    }

    svg {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      &:first-child {
        fill: $color-brand-main;
      }
    }

    li {
      text-align: left;
      display: block;
    }

  }

}

@media(max-width: 767px) {

    .table .links-table {
      padding: 20px 10px 70px 0px;
      height: 140px;
      li {
        padding-top: 9px;
      }
    }
}
