.table {
  img {
    max-width: 80%;
  }

  .icon-basic {
    display: none;
  }

  .links-table {
    font-size: 25px;
    color: $color-paragraph;
    border-top: 1px solid #dcdde1;
    padding: 30px;
    padding-bottom: 50px;
    justify-content:space-between;
    height: 60px;
    width: 100%;
    max-width: calc(100vw - 25px);
    transition: 0.2s;

    &:hover {
      background-color: $color-light-hover;

    & .icon-basic {
        display: inline-block;
        svg:last-child {
          fill: #fff;
        }
      }
    }

    svg {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      &:first-child {
        fill: $color-brand-main;
      }
    }

    li {
      text-align: left;
      display: block;
    }

    li:first-child {
      width: 151px;
    }

    li:nth-child(2) {
      text-align: left;
      width: 268px;
    }

  }
}
