h1 {
  font-size: 35px;
  font-family: $main-font;
  color: $color-light;
}

.title-wrapper {
    justify-content: space-between;
    height: 100px;
    padding: 5px 12px;
    align-items: center;
    i {
      padding-left: 30px;
      font-size: 30px;
    }
}
