h1 {
  font-family: $main-font;
  color: $color-light;
}

.title-wrapper {
    justify-content: space-between;
    height: 100px;
    padding: 5px 12px;
    align-items: center;
    i {
      padding-left: 30px;
      font-size: 30px;
    }
}

@media(max-width: 767px) {

  .title-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .title-wrapper  {
    i {
      padding-left: 15px;
    }
  }
}
