.top-side {
  min-height: 90px;
  border-bottom: 1px solid #dcdde1;
  background-color: #fff;
  max-width: calc(100vw - 220px);
  .flex-item {
    padding: 10px;
    border-left: 1px solid #dcdde1;
  }
}

.light-icon {
  width: 18px;
  height: 18px;
}

.amount {
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}


@media(max-width: 767px) {

   .top-side {
    display: none;
    padding: 0 30px 30px 20px;
    background-color: $color-dark-sidebar;
    svg {
      width: 30px;
      height: 30px;
    }
    a, p {
      font-size: 22px;
      padding-left: 15px;
    }
  }

  .display {
   display: inline-flex;
   min-width: 100vw;
   min-height: 100px;
 }

  .top-side .flex-item {
    border: none;
  }

  .flex-item {
    justify-content: flex-start;
  }
}

@media(min-width: 768px) {
    .top-side {
      position: fixed;
    }

}
