.top-side {
  text-align: right;
  display: flex;
  white-space: nowrap;
  min-height: 90px;

  border-bottom: 1px solid #dcdde1;
  background-color: #fff;
  .flex-item {
    padding: 10px 12px;
    border-left: 1px solid #dcdde1;
  }
}

// .row {
//   .item1 {
//     flex: 0 0 54%;
//   }
//   .item2 {
//     flex: 0 0 17%;
.light-icon {
  width: 18px;
  height: 18px;
}
//   }
//   .item3 {
//       flex: 0 0 6%;
//   }
// }

.amount {
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}
