.top-side {
  text-align: right;
  display: flex;
  white-space: nowrap;
  list-style: none;
  min-height: 80px;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #a6a6a6;
  .flex-item {
    padding: 10px 12px;
    border-left: 1px solid #a6a6a6;
  }
}

.row {
  .item1 {
    flex: 0 0 60%;
  }
  .item2 {
    flex: 0 0 15%;
    .light-icon {
      width: 18px;
      height: 18px;
    }
  }
  .item3 {
      flex: 0 0 5%;
  }
}
