.sidebar {
  background-color: $color-dark-sidebar;
  padding-left: 7px;
  z-index: 9;
  max-height: 100vh;
    overflow-y: auto;
}

.sidebar .show {
  display: block;
}

@media(max-width: 767px) {
  .navlinks {
    margin-top: 110px;
  }
  .navlinks, .avatar-wrapper{
      display: none;
  }

}

@media(min-width: 768px) {
  .sidebar {
    background-color: $color-dark-sidebar;
    height: 100vh;
    position: fixed;
    min-width: 290px;
  }
}

@media(min-width: 1200px) {

}
